@import '../../static/config.scss';

.slideshow {
    width: 100%;
    height: 100%;
    // color: black;
    // background-color: black;

    &__slide-header {
        color: blue;
        margin-bottom: 20px;
    }
}

.img {
    height: $slideshow-height;
}
