@import '../../static/config.scss';


.main-page {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__header {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: aliceblue;
        padding-bottom: 100px;
        padding-top: 80px;
    }

    &__section {
        display: flex;
        width: 100%;
        height: 500px;
        background-color: black;
        justify-content: center;

        &_direction_row {
            flex-direction: row;
        }
    }

    &__slideshow-container {
        display: flex;
        width: 800px;
        height: $slideshow-height;
    }
}
