.section {
  width: 100%;
  display: flex;
  background-color: aquamarine;
  flex-direction: column;
  justify-content: space-around;

  &__title {
    font-size: 48px;
    align-self: center;
  }

  &__content {
    width: 70%;
    background-color: aliceblue;
  }
}
